# Config
--header strip
# Enabled rules
--rules anyObjectProtocol,blankLinesAroundMark,blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenScopes,duplicateImports,elseOnSameLine,emptyBraces,fileHeader,indent,isEmpty,leadingDelimiters,linebreakAtEndOfFile,redundantBackticks,redundantBreak,redundantFileprivate,redundantGet,redundantInit,redundantLet,redundantLetError,redundantNilInit,redundantObjc,redundantParens,redundantPattern,redundantRawValues,redundantReturn,redundantVoidReturnType,semicolons,sortedImports,spaceAroundBraces,spaceAroundBrackets,spaceAroundComments,spaceAroundGenerics,spaceAroundParens,spaceInsideBraces,spaceInsideBrackets,spaceInsideComments,spaceInsideGenerics,spaceInsideParens,strongOutlets,strongifiedSelf,todos,trailingClosures,trailingCommas,trailingSpace,typeSugar,void,wrapArguments,yodaConditions

# The rest of rules (disabled for now)
# andOperator,braces,consecutiveBlankLines,consecutiveSpaces,hoistPatternLet,linebreaks,numberFormatting,ranges,redundantExtensionACL,redundantSelf,spaceAroundOperators,specifiers,trailingClosures,unusedArguments
--exclude **/Reachability.swift
--exclude Examples/Carthage
