binary "https://www.dropbox.com/s/h2i2ef2kjsl2y44/opencv2.json?dl=1" ~> 2.4.13
binary "https://www.dropbox.com/s/0oax97hie3mwwg0/MapboxVisionCore.json?dl=1" ~> 0.0.1-alpha.2
github "marmelroy/Zip" ~> 1.1.0
github "mapbox/mapbox-events-ios" ~> 0.5.0
