binary "https://www.mapbox.com/ios-sdk/MapboxAccounts.json" ~> 2.2
binary "https://www.mapbox.com/ios-sdk/opencv.json" ~> 2.4.13
github "mapbox/mapbox-events-ios" ~> 0.10.2
github "weichsel/ZIPFoundation" ~> 0.9.9
